@using Microsoft.AspNetCore.Components.Authorization
@using PanelUserInventoryManagement.Auth
@inherits LayoutComponentBase
@inject CustomAuthStateProvider AuthProvider
@inject NavigationManager Nav

<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                    <button class="btn btn-link" style="color: var(--rz-primary);" @onclick="Logout">
                        <span class="material-icons-outlined" style="font-size:1rem; vertical-align:middle; margin-right:4px;">sensor_door</span>
                        Cerrar Sesión
                    </button>
                </div>

                <article class="content px-4">
                    <RadzenNotification />
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="container mt-5">
            @Body
        </div>
    </NotAuthorized>
</AuthorizeView>

@code
{
    private void Logout()
    {
        AuthProvider.MarkUserAsLoggedOut();

        Nav.NavigateTo("/login", forceLoad: true);
    }
}