@page "/"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<PageTitle>Gestión de Inventario</PageTitle>

<h1>Bienvenido al Sistema de Control de Inventario</h1>

Ingrese a una de las paginas del menu de navegación
